[submodule "Vendor/glfw"]
	path = Vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Vendor/imgui"]
	path = Vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Vendor/flecs"]
	path = Vendor/flecs
	url = https://github.com/SanderMertens/flecs.git
[submodule "Vendor/slang"]
	path = Vendor/slang
	url = https://github.com/shader-slang/slang.git
